<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" data-ng-app="carpooling">
<head>
  <title><%= title %></title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

  <link rel="stylesheet" href="/lib/angular-material/angular-material.css" media="screen" title="no title" charset="utf-8">

  <meta name="viewport" content="initial-scale=1" />

  <script type="text/javascript" src="/lib/lodash/lodash.js"></script>
  <script type="text/javascript" src="/lib/angular/angular.js"></script>
  <script src='/lib/angular-simple-logger/dist/index.js'></script>
  <script src='/lib/angular-google-maps/dist/angular-google-maps.js'></script>

  <script type="text/javascript" src="/lib/angular-aria/angular-aria.min.js"></script>
  <script type="text/javascript" src="/lib/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="/lib/angular-material/angular-material.min.js"></script>


  <script src="/index/controllers/index.client.controller.js" charset="utf-8"></script>
  <script src="/index/index.client.module.js" charset="utf-8"></script>



  <!--
  <script type="text/javascript" src="/user/user.client.module.js"></script>
  <script type="text/javascript" src="/user/services/user.client.service.js"></script>
  <script type="text/javascript" src="/user/controller/user.client.controller.js"></script>
  <script type="text/javascript" src="/user/config/user.client.routes.js"></script> -->

  <script type="text/javascript" src="application.js"></script>
  <style media="screen">
  .angular-google-map-container { height: 600px; }
  </style>

  <style media="screen">
  .container{
    width: 80%;
  }
  </style>

</head>
<body layout="column" >


  <div layout="column" layout-align="center center">

    <md-toolbar md-scroll-shrink>
      <div layout="column" layout-align="center center">
        <div class="container" layout="row" layout-align="center center">
          <div flex>
            <div layout="row"  layout-align="end center">
              <md-button>Login</md-button>
              <md-button>Register</md-button>
            </div>
          </div>
        </div>
        <div class="container" layout="row" layout-align="center center">
          <div flex="40">
            <h1>MS - Carpooling</h1>
          </div>
          <div flex>
            <div layout="row"  layout-align="end center">
              <A ng-click="action()" class="md-body-2">action1</A>&nbsp;|&nbsp;
              <A ng-click="action()" class="md-body-2">action2</A>&nbsp;|&nbsp;
              <A ng-click="action()" class="md-body-2">action3</A>&nbsp;|&nbsp;
              <A ng-click="action()" class="md-body-2">action4</A>
            </div>
          </div>
        </div>
      </div>

    </md-toolbar>
    <md-divider></md-divider>
  </div>

  <div  layout="row" layout-align="center start">
    <div flex>
      <div data-ng-controller="mapController">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' control="map.control"></ui-gmap-google-map>
      </div>
    </div>
  </div>






</body>
</html>
