<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" data-ng-app="carpooling">
<head>
  <title><%= title %></title>

  <link rel="stylesheet" href="/lib/angular-material/angular-material.min.css" type="text/stylesheet" >
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="viewport" content="initial-scale=1" />
  <style media="screen">
      .container{
        max-width: 864px;
      }
  </style>

</head>
<body layout="column">
  <div layout="column"  layout-wrap layout-align="center center">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>My App's Title</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-menu>

       <% if(!user) {%>
       <md-button >Sigin</md-button>
       <% } else { %>
        <md-button >Logout</md-button>
       <% } %>
       <md-menu-content>
         <md-menu-item><md-button ng-click="doSomething()">Do Something</md-button></md-menu-item>
       </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
  <md-content>
    <div layout="row" class="container"  layout-width="864">
      <div flex="80"><div ui-view></div></div>
      <div flex >
        <a ui-sref="usercreate">Create User</a><br>
        <a ui-sref="userlist">List User</a>
      </div>
    </div>


  </md-content>
</div>




  <!--Angular libraries  -->
  <script type="text/javascript" src="/lib/angular/angular.js"></script>

  <script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
  <script src="/lib/angular-animate/angular-animate.js" type="text/javascript"></script>
  <script src="/lib/angular-aria/angular-aria.js" type="text/javascript"></script>
  <script src="/lib/angular-material/angular-material.js" type="text/javascript"></script>


  <script type="text/javascript" src="/user/user.client.module.js"></script>
  <script type="text/javascript" src="/user/services/user.client.service.js"></script>
  <script type="text/javascript" src="/user/controller/user.client.controller.js"></script>
  <script type="text/javascript" src="/user/config/user.client.routes.js"></script>

  <script type="text/javascript" src="application.js"></script>

</body>
</html>
