/*
Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss

Backtrace:
c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.3.0.alpha.149/lib/sass/plugin/compiler.rb:302:in `read'
c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.3.0.alpha.149/lib/sass/plugin/compiler.rb:302:in `update_stylesheet'
c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.3.0.alpha.149/lib/sass/plugin/compiler.rb:182:in `block in update_stylesheets'
c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.3.0.alpha.149/lib/sass/plugin/compiler.rb:179:in `each'
c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.3.0.alpha.149/lib/sass/plugin/compiler.rb:179:in `update_stylesheets'
c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.3.0.alpha.149/lib/sass/plugin/compiler.rb:214:in `watch'
c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.3.0.alpha.149/lib/sass/plugin.rb:107:in `method_missing'
c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.3.0.alpha.149/lib/sass/exec.rb:482:in `watch_or_update'
c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.3.0.alpha.149/lib/sass/exec.rb:324:in `process_result'
c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.3.0.alpha.149/lib/sass/exec.rb:41:in `parse'
c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.3.0.alpha.149/lib/sass/exec.rb:21:in `parse!'
c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.3.0.alpha.149/bin/sass:9:in `<top (required)>'
c:/Ruby22-x64/bin/sass:23:in `load'
c:/Ruby22-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss"; }
